.end-screen-wrapper {
    position: absolute;
    top: 174px;
    left: 365px;
}

.end-screen-continue-button {
    background-color: #0C7EA6;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    width: 220px !important;
    color: #ffffff;
}

.end-employee-wrap {
    position: absolute;
    top: -197px;
    left: -304px;
}